@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
   font-family: 'Roboto Condensed', sans-serif;
} 

.nav{
/*   position: relative; */
/*   height:auto; */
  margin-top: 3em;
  margin-left:0.5em;
  margin-right:0.5em;
}
/* todo div not included */
.tobottom {
/*   position: absolute; */
  bottom: 0;
 }

.navpadding{
  margin-right:1em;
}

.name{
  text-align:center;
  font-size:4em;
}

.navname{
  text-align:center;
  font-size:1.8em;
  color: #999;
}

.navname a{
  color: #999;
}

/* .navwork:hover, */
.navwork a:hover,
.navproject a:hover,
.navresume a:hover
{
  color: #000000;
  text-decoration: none;
}

.navproject:link
{
  color: inherit;
  text-decoration: inherit;
}

/* project */

/* body{  
  height: auto;
  margin:5em 0 5em;
} */
.projectmain{ 
  margin-top:3.5em;
  margin-bottom:3em;
}

.aa{
/*   background-color:pink;   */
  height:auto;
  text-align: center;
/*  padding-left:4em;
  padding-right:4em;*/
}

.bb{ 
  padding:0;
}

#img1{
  height:200px;  
  width: auto;
/*   width:600px;
  height:auto; */
}

cc{
  padding:0; 
  margin:0;
  border-collapse: collapse;
}
#img2{
  height:200px;  
  width: auto;
  overflow:hidden;
/*    width:600px;
  height:auto; */
}

#img3{
  height:200px;  
/*    width: 80%; */
/*    width: auto; */
  overflow:hidden;
/*    width:600px;
  height:auto; */
}


.cc{
/*   background-color:green;   */
  height:auto; 
  padding:0;
  margin-top:2em;
}

.dd{
/*   background-color:grey;   */
  height:auto; 
  padding:0;
  margin-top:2em;
}

.ff{
  margin-bottom:2.5em;
}

/* text */
.ee{
/*   background-color:red;   */
/*   height:600px;  */
  padding:0 3em 0;
  margin-bottom:3em;
}

.projectText{  
  font-size:1.2em;
  text-align:justify；   
}

h4{
  margin-bottom:1em; 
  font-size:1.8em;
}

h5{
  color: #999;
  margin-bottom:2em;
}

h5 .top-buffer{
  margin-top:0.3em;
}

.projectText span{
  font-style:italic;
}

        
@media screen and (min-width: 480px) {
.nav{
  position: relative;
  margin-top: 10em;
/*   margin-bottom: 15em; */
  margin-left:8em;
  margin-right:8em;
}
  
  
.myname{
   left: 0; 
}

.navname{
   right:0;   
}
  
.tobottom {
  position: absolute;
 }
  
.projectmain{  
/*   background-color:red; */
  margin-left:8em;
  margin-right:8em;
  margin-top:5.5em;
  margin-bottom:5em;
}
.projectText{  
  font-size:1.2em;
}
  
/* body{  
  margin-left:3em;
  margin-right:3em;
} */

/* .aa{
  padding-left:7em;
  padding-right:5em;
} */
  
.ee{
/*   background-color:red;   */
/*   height:600px;  */
/*   margin-left:-3em; */
/*   padding-left:5em;
  padding-right:5em; */
  padding-left:3em;
  padding-right:3em;
}
  
#img1{
  height:450px;  
  width: auto;
  padding:0;
}
  
#img2{ 
  height:200px;  
  width:95%;
  float:left;
}

#img3{
  height:200px;  
  width:95%;
  float:right;
}  
}







