@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
   font-family: 'Roboto Condensed', sans-serif;
}  

/*mobile
==============================================================
 */

.canvas{
  margin:30px 0;
}
/*
.myname{
  height:100px;
  padding:0;
}

.myname div{
  position:relative;
  height:100px;
}

.myname span {
  font-size:60px;
  line-height:1;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

.navname{
  height:50px;
}

.navname div{
  height:50px;
  position:relative;
}

.navname ul{
  font-size:25px;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

li a{
  padding-left:15px;
  padding-right:15px;
  line-height:1;
  color: #999;
}

li{
    display: inline;
}

ul{
  margin-bottom:0;
  -webkit-padding-start:0;
}

ul.list-inline{
  margin-bottom:0;
}

a:hover
{
  color: #000000 !important;
  text-decoration: none !important;
}

ul a:link
{
  color: inherit !important;
  text-decoration: inherit !important;
}

.socialmedia a{
  color:#000;
}

.active{
  color:#000000;
}

.page-divider{
  margin:45px 0;
}
*/

/* intro 
=========================================================
*/
.intro{
  margin-top:1em;
}

img{
  border-radius: 50%;
  /*center image*/
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:40px;
  width:50%;
  height:auto;
}

.introtext{
  line-height:1.5em;
  font-size:25px;
  text-align:justify；
}
.introtext .top-buffer{
  margin-top:0.3em;
}

.underline{
  text-decoration: underline
}

.resume .top-buffer{
   margin-top:1.5em;
}

.time{
  color: #999;
  font-size:20px;
}

/* footer */
/*.footer .row{
  text-align:center;  
  margin-top:10px;
}

.socialmedia {
   background-color:#fff ;
} */


@media (min-width: 768px) {
.canvas{
  margin:100px 30px 40px;
}
/*
.myname span{
  position:absolute;
  bottom:0;
  left:0; 
  text-align:left;
}
  
.navname ul{
  position:absolute;
  bottom:0;
  right:0; 
  text-align:right;
}


.navname{
  height:100px;
}

.navname div{
  height:100px;
}

.page-divider{
  margin:80px 0;
}
 */
/* project */
img{
  width:75%;
}

.introtext{
 /* line-height:1.5em;*/
  font-size:15px;
  text-align:justify；
}

.time{
  color: #999;
  font-size:12px;
}

.col-md-4{
  padding-right:80px; 
}

.col-md-8{
  padding-left:40px;   
}

h4.time{
  margin-bottom:0;
}

}

@media (min-width: 992px) {
.canvas{
  margin:60px 30px 40px;
}


.page-divider{
  margin:60px 0;
}
}

