
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
   font-family: 'Roboto Condensed', sans-serif;
   box-sizing: border-box;  
}  

/*color*/
a:hover{
  color:#999;
}

.active, .myname span{
  color:#000 !important;
}

.navwork,.navresume {
color:#999;
}


/*mobile
==============================================================
 */
 .col-md-5,.col-md-4,.col-md-6{
  opacity: 0;
  transform: translateX(-25px);
  transition: all .5s ease-in;
 }

.canvas{
  margin:20px 15px 20px;
}


.col-md-5{
  opacity: 0;
  transform: translateX(-25px);
  transition: all .5s ease-in;
}

.section-divider{
  margin:50px 0 50px;
}

.space-divider{
  margin:40px;
}

.mobile-space-divider{  
  margin:20px;
}  /*to-do*/

/* header
============================================
============================================ */
.myname{
  height:100px;
  padding:0;
}

.myname div{
  position:relative;
  height:100px;
}
/* center */
.myname span {
  font-size:3.75rem;
  line-height:1;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

.navname{
  height:50px;
}

.navname div{
  height:50px;
  position:relative;
}
/* center */
.navname ul{
  font-size:1.5rem;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

li{
    display: inline;
}

li a{
  padding-left:15px;
  padding-right:15px;
  line-height:1;
}

ul{
  margin-bottom:0;
  -webkit-padding-start:0;
}

ul.list-inline{
  margin-bottom:0;
}




/* intro 
=========================================================
*/
.intro{
  margin-top:1em;
}

img{
  border-radius: 50%;
  /*center image*/
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:40px;
  width:50%;
  height:auto;
}

.introtext{
  line-height:1.5em;
  font-size:0.75rem;
  text-align:justify；
}
.introtext .top-buffer{
  margin-top:0.3em;
}

.underline{
  text-decoration: underline
}

.resume .top-buffer{
   margin-top:1.5em;
}

.time{
  color: #999;
  font-size:0.7rem;
}


.footer .row{
  text-align:center;  
  margin-top:10px;
}

button{
background-color: transparent;
}

.footer .row{
  text-align:center;  
}

button{
background-color: transparent;
}

.socialmedia {
   background-color:transparent;
   font-size: 0.9rem;
} 

.socialmedia .fa{
  color: #000;
}

/*@media (min-width: 768px) {
.canvas{
  margin:100px 30px 40px;
}

.canvas{
  margin:20px 200px 20px;
}


.navname ul{
  font-size:20px;
}

.myname{
  height:50px;
  padding:0;
}

.myname div{
  position:relative;
  height:50px;
}

.myname span {
  font-size:50px;
  line-height:1;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

.navname{
  height:50px;
}

.page-divider{
  margin:30px 0;
}

.myname span{
  position:absolute;
  bottom:0;
  left:0; 
  text-align:left;
}

.navname ul{
  position:absolute;
  bottom:0;
  right:0; 
  text-align:right;
}


.myname span {
  font-size:45px;
}


.spaceholder{
  margin:25px;
}*/
/*header*/

@media (min-width: 768px) {

.canvas{
  margin:20px 25px 20px;
}


/*header*/
.navname ul{
  font-size:1.25rem;
}

.myname{
  height:40px;
  padding:0;
}

.myname div{
  position:relative;
  height:40px;
}
/* center */
.myname span {
  font-size:3.1rem;
  line-height:1;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

.navname{
  height:40px;
}

.section-divider{
  margin:40px 0 40px;
}


/* left */
.myname span{
  position:absolute;
  bottom:0;
  left:0; 
  text-align:left;
}
  
/* right */
.navname ul{
  position:absolute;
  bottom:0;
  right:0; 
  text-align:right;
}


.myname span {
  font-size:2.8rem;
}


.space-divider{
  margin:25px;
}

.mobile-space-divider{
  margin:0px;
}

.navbar-fixed {
  top: 0 !important;
  z-index: 500 !important;
  position: fixed !important;
  width: 100% !important;
}


/* project */
img{
  width:75%;
}

.introtext{
 /* line-height:1.5em;*/
  font-size:12px;
  text-align:justify；
}

.time{
  color: #999;
  font-size:10px;
}

.col-md-4{
  padding-right:80px; 
}

.col-md-8{
  padding-left:40px;   
}

h4.time{
  margin-bottom:0;
}

}


@media (min-width: 1200px) {
.canvas{
  margin:100px 30px 40px;
}

}

