@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
   font-family: 'Roboto Condensed', sans-serif;
   list-style: none;
  vertical-align: baseline;
}  

 
body{
  margin:0;
  padding:0;
}

div {
  position:relative;
  z-index: 2;
}

.wrapper {
  position: relative;
  margin:3% auto auto auto;
  width:450px;
  height:auto;
  display: table;
}

#pic{
  width:450px;
  height:auto;
  text-align:center; 
  margin-top: 10px;
}

.quotation-mark{
  font-size:100px;
  font-weight:900;
}

.fa-quote-left{
   margin-right: 10px;
}

.fa-quote-right{
   margin-left: 10px;
}


#quote
{
  clear:both; 
  width:450px;
  color: #000;
  background: #fff;
  text-decoration: none;
  text-align: center;
  font-size:25px;
  z-index: 20;
  line-height:1.2;
  font-weight:350;
}

#author{
  width:450px; 
  margin-top:15px;
  color: #000;
  background: #fff;
  text-decoration: none;
  text-align: center;
  font-size:20px;
  font-weight:550;
}

.buttons{
  width:450px; 
}

.btn{
  margin-top:20px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center !important; 
  font-size:10px;
}

.new-twitter{
  float:left;
}

.new-quote{
  float:right;
}

.btn-outline-primary:hover {
    color: #000;
    background-color: rgba(122,122,122,0.05);
    border-color:  #000;
}

.btn-outline-primary {
    color: #000;
    background-image: none;
    background-color: transparent;
    border-color: #000;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    -webkit-box-shadow: 0 0 0 2px           rgba(122,122,122，0.5);
} 
