*{
  color:#fff;
}


.timer{
  text-align:center;
}

.main{
	background-color:red;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
    font-size: 3em;
    border: 2px solid #99CC00;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 20;
    overflow: hidden;
}

.status{
	line-height: 3.8em;
}


button{
	color:#000;
}