ul {
  list-style-type: none;
}


.result-wrapper {
	width:100%;
}

.result-wrapper ul li{
  float:left;
  width:50%;
}
	
.num-wrapper ul li{
  float:left;
  width:6%;
}


ul li,p{
  cursor:pointer;
}

