@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
   font-family: 'Roboto Condensed', sans-serif;
}  


/*mobile
==============================================================
 */


/* project
============================================
============================================ */
.project .col-md-6{
  margin-bottom:20px;
}


img{
  /*center image*/
  display: block;
  margin-left: auto;
  margin-right: auto; 
  /*stretch img & auto switch size*/
  width: 100%;
  height: auto;
}

.caption {

  text-align:center;
  margin-top:10px;
}
.caption .projectname{
  font-size: 25px;
    color: #000;
}

.caption ul{
  font-size: 22px;
  color: #999;
}

.caption ul li{
  margin:0 5px;
  text-align:center;
} 



/*hover effect
==============================================================*/
.imageWrapper {
  position: relative;
}

.hovertextelevator, 
.hovertexttaobao,
.hovertextbrainwave,
.hovertextmindplus
{
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    font-size:20px;
    z-index: 20;
}

.elevatorgif, 
.taobaogif,
.brainwavegif,
.mindplusgif
{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}



/* desktop + ipad 
==============================================================================================================
 */
@media (min-width: 768px) {
/*project 
================================================================
*/
.caption .projectname{
  font-size: 20px;
}

.project .col-md-6{
  margin-bottom:30px;
}


.project .col-md-6:nth-child(odd) {
  padding-right:40px; 
}

.project .col-md-6:nth-child(even) {
  padding-left:40px;   
}

.caption ul{
  font-size: 13px;
}

/*  hover effect */

.hovertextelevator, 
.hovertexttaobao,
.hovertextbrainwave,
.hovertextmindplus
{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    font-size:15px;       
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    z-index: 20;
}

.elevatorgif, 
.taobaogif,
.brainwavegif,
.mindplusgif
{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}


#elevator:hover .elevatorgif,
#taobao:hover .taobaogif,
#brainwave:hover .brainwavegif,
#mindplus:hover .mindplusgif
{
    opacity: 1;
}


#elevator:hover .hovertextelevator,
#taobao:hover .hovertexttaobao,
#brainwave:hover .hovertextbrainwave,
#mindplus:hover .hovertextmindplus
{
    opacity: 0.7;
}


}

@media (min-width: 992px) {
.canvas{
  margin:60px 30px 40px;
}



.hovertextelevator, 
.hovertexttaobao,
.hovertextbrainwave,
.hovertextmindplus
{
  font-size:15px;
}
}