.main-content{
  width:350px;
  height:440px;
/*  background-color:red; */ 
  overflow:visible;
}

#computer{
  position:relative;
  pointer-events: none;
  /*center image*/
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#gameinterface{
  position:absolute;
  left:55px;
  top:30px;
}

