@font-face {
    font-family:songti;
    src:url(songti.TTF);
}

body{
  background:red;
}

*{
  font-family:songti;
}




ion-item,ion-infinite-scroll{
  background-color:red !important;
  text-align:center;  
  color:yellow !important;
  border:0 solid transparent !important;
  font-size:125px;
}


.item-complex .item-content, .item-radio .item-content{
    padding: 85px !important;
   margin:50px;
    border: none;
    background-color: red !important;
    font-size: 75px;
}