*{
  margin:0;
  padding:0;
}

.main{
  position:relative;
  width: 287px;
  height: 450px;
  padding: 0; 
  margin: 5% auto auto;
  border: 2.1px solid #999;
  border-radius: 2.6px;
  background-color: rgba(0,0,0,0.8);
}

ul{
  list-style-type: none; 
}

#project-name{
  text-align:center;
  color:#fff;
  font-style: italic;
  font-size: 0.7em;
  margin: 0.2em;
  text-transform: uppercase;
}

#author{
  text-align:center;
  color:#000;
  font-size: 0.6em;
  margin: 0.5em;
}

#result-wrapper{
  color:#fff;
  width: 287px; /*todo*/
  height: auto;
  display: table;
} 

#result-wrapper div{
  text-align:right;
}

.arr-row{
  background-color:#999;
  color:rgba(0,0,0,0.4);
  padding-right: 0.9em;
}

.click-row{
  background-color:#fff;
  color:#000;
  font-size: 2.8em;
  padding-right: 0.2em;
}

#keyboard-wrapper{
  padding:0.3em 0.5em 0.5em;
  width: 287px;
  height: auto;
  position: absolute;
  display: inline-block;
}

#keyboard-wrapper ul li{
/*  float:left;*/
  display: inline-block;
  margin:1%;
}

#keyboard-wrapper button {
  cursor:pointer;
  outline:none;
  background-color: rgba(0,0,0,0.9);
  border: none;
  color: white;
  width:62px;
  height:62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius:5px;
  margin:1%;
}

#keyboard-wrapper button:hover{
  opacity:0.8;
}